<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
    <a href="/people">Список Читателей.</a>
    <p/>
    <br/>
    <p th:text="${person.getFullName()} + ', ' + ${person.getYearOfBirth()}"></p>

    <div th:if="${bookList.isEmpty() || bookList == null}">
        <p>Читатель не имеет взятых книг.</p>
    </div>

    <hr/>

    <div th:if="${bookList != null && bookList.size() > 0}">
        <p><b>Книги: </b></p>
        <p th:each="book : ${bookList}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
        <hr/>
    </div>

    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}" th:object="${person}">
        <input type="submit" value="Редактировать.">
    </form>
    <br/>
    <form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.getPersonId()})}" th:object="${person}">
        <input type="submit" value="Удалить читателя.">
    </form>
</body>
</html>